 <!DOCTYPE html>
<html lang="en">
<title>{%block title%}{%endblock title%}</title>
<!-- meta tags -->
{% block meta %}{% endblock meta %}
<!-- scripts -->
<!-- React
<script src= "https://unpkg.com/react@16/umd/react.production.js"></script>
<script src= "https://unpkg.com/react-dom@16/umd/react-dom.production.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.js"></script>

<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
-->
<!-- Angular
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
-->

<body>
{%block body %}{% endblock body %}
<script type="text/babel">
    {% block scripts %}{% endblock scripts %}
</script>

</body>
{%block imports%} {% endblock imports %}
</html>